body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.logo {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
}

#login, #menu {
    margin-top: 20px;
}

input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #279baf;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.menu-image {
    width: 150px; /* Ajusta el tamaño de las imágenes del menú */
    height: auto;
    border-radius: 8px; /* Bordes redondeados para las imágenes */
}

ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
}

li {
    margin: 20px 0;
}